<% layout('layout') %>
<div class="navbar">
    <div class="container">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><h3>Welcome to OldGame</h3></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div>
</div>

<ul class="breadcrumb">
    <br />
        <p ><img src="images/main.jpg" class="img-rounded" width="100%"/></p>
    <br />
</ul>
