<% layout('layout') %>

<div class="navbar">
    <div class="container">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><h4><strong>Interactive database management system</strong></h4></li>
            </ul>
        </div><!-- /.nav-cÃllapse -->
    </div>
</div>

<ul class="breadcrumb">
    <br />
    <form method="post" action="/SIGN_UP">
        <fieldset>
            <legend>Sign up</legend>
            <div class="form-group">
                <label for="exampleInputEmail">Username</label>
                <input type="text" class="form-control" name="username" id="user" placeholder="Username" maxlength="25">
            </div>
            <center><a onclick="checkUserName()" style="width:100%" class="btn btn-default">Check User Name</a></center>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" maxlength="16">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" maxlength="16">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" maxlength="64">
            </div>
            <center><button type="submit" style="width:100%" class="btn btn-default">Submit</button></center>
        </fieldset>
    </form>
    <br />
</ul>

<script>
    function checkUserName() {
        var username = $('#user').val();

        if(username == '') {
            alert("Please enter Username");
        }
        else {
            $.get('/checkusername?id=' + username, function(data,err){
                if(data == 'true') {
                    $('#user').val('');
                    alert('Username already exists. Please enter another Username');
                }
                else {
                    alert('You can use this Username');
                }
            });
        }
    };
</script>
